<% provide(:about_active, 'active') %>


<div class="jumbotron text-center">
  <p>
  <div class="media">
      <div class="media-left media">
        <img src="./daniel.jpg" class="media-object" style="width:120px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Daniel Wojnar</h4>
        <br>
          <div class="col-sm-4">
            <div class="items">
              <i class="fa fa-heart" aria-hidden="true">&nbsp; Kościelisko</i>
              <br>
              <i class="fa fa-phone" aria-hidden="true">&nbsp; 692265111</i>
              <br>
              <i class="fa fa-music" aria-hidden="true">&nbsp; Rock, Folk, Indie</i>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="items">
              <i class="fa fa-code" aria-hidden="true">&nbsp; Ruby on Rails, Python</i>
              <br>
              <i class="fa fa-video-camera" aria-hidden="true">&nbsp; Adobe After Effects</i>
              <br>
              
            </div>
          </div>

          <div class="col-sm-4 hidden-xs-down">
            <div class="items">
              <i class="fa fa-quote-left fa-1x" aria-hidden="true">&nbsp; Beware that, when fighting monsters, you yourself do not become a monster... for when you gaze long into the abyss. The abyss gazes also into you..&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i></i>
              <br>
              
            </div>
          </div>
      </div>
      <div class="items hidden-sm-up">
        <i class="fa fa-quote-left fa-1x" aria-hidden="true">&nbsp; Beware that, when fighting monsters, you yourself do not become a monster... for when you gaze long into the abyss. The abyss gazes also into you..&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i></i>
        <br>
      </div>
  </div>
  </p> 
</div>


