.posts.index {
  .pagination  {
    text-align: center;
    width: 100%;
  }
  .card {
    font-family: 'Kreon', serif;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #181818;
    height: 400px;
    margin-bottom: 20px;
    .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block {
      padding: 10px;
      .btn-read {
        background-color: #e8e8e8;
        font-weight: 300;
        border-radius: 0;
        color: black;
        &:hover {
          background-color: #d8d8d8;
        }
      }
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .published-date {
        font-size: 0.8rem;
        color: #787878;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .card-text {
        font-size: 0.9rem;
      }
    }
  }
}

.posts.edit, .posts.new {
  .card {
    .card-block {
      background-color: $alice-blue;
     
    }
    .card-title {
      margin-bottom: 0;
      font-size: 18px;

    }
    .list-group-item {
      padding: 10px;
      border-left: 0;
      border-right: 0;
      input[type='text'], textarea {
        font-size: 14px;
        background-color: $light-gray;
        
      }
      textarea {
        height: 100px;
      }
      &:last-child {
       
      }
    }
  }
}

@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}

textarea#post_description,
input#post_banner_image_url {
    width: 100%;
}


.buttons {
  
  padding: 10px 0 0 50%;
}

p i {
  font-size: 14px;

}

.container.posts.show {
  font-family: 'Kreon', serif;
}

.card-topper {
    border-radius: 10px; 
    width: 90%; 
}

p img {
  border-radius: 10px;
}


body > div.container.posts.index > div.row > div:nth-child(1) > div > div.card-block > a {
  width: 100%;
}

body > div.container.posts.index > div.row > div:nth-child(2) > div > div.card-block > a {
  width: 100%;
}

body > div.container.posts.index > div.row > div:nth-child(3) > div > div.card-block > a {
  width: 100%;
}